.circular {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../images/photo_thumb.png') no-repeat;
	}
	
	.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
	
	{
        box-sizing: border-box;
      }
      .header-panel {
        background-color: #009688;
        height: 380px;
        position: relative;
        z-index: 3;
      }
      .header-panel div {
        position: relative;
        height: 100%;
      }
      .header-panel h1 {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        position: absolute;
        bottom: 30px;
        padding-left: 10px;
      }
      
      .header-panel h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 350;
        position: absolute;
        bottom: 3px;
        padding-left: 10px;
      }
      
      .github {
      	background-color: #fff;
        position: absolute;
        z-index: 5;
        top: 40px;
        right: 20px;
      }
      
      .linkedin {
      	background-color: #fff;
        position: absolute;
        z-index: 5;
        top: 100px;
        right: 20px;
      }
      
      .twitter{
      	background-color: #fff;
        position: absolute;
        z-index: 5;
        top: 160px;
        right: 20px;
      }
      .google-plus {
      	background-color: #fff;
        position: absolute;
        z-index: 5;
        top: 220px;
        right: 20px;
      }
      
      
      .photo-js {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 5;
      }
      
      .menu {
        overflow: auto;
        padding: 0;
      }
      .menu, .menu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .menu ul {
        padding: 0;
        margin: 7px 0;
      }
      .menu ul li {
        list-style: none;
        padding: 20px 0 20px 20px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
      }
      .menu ul li.active {
        background-color: #dedede;
        position: relative;
      }
      .menu ul li a {
        color: rgb(51, 51, 51);
        text-decoration: none;
      }
      .pages {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        padding: 0;
        overflow: auto;
      }
      .pages > div {
        padding: 0 5px;
        padding-top: 200px;
      }
      .pages .header {
      	color : #666;
        font-size: 24px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 60px;
        letter-spacing: 1.20000004768372px;
      }
      .page {
        transform: translateY(1080px);
        transition: transform 0 linear;
        display: none;
        opacity: 0;
        font-size: 16px;
      }
      .page.active {
        transform: translateY(0px);
        transition: all 0.3s ease-out;
        display: block;
        opacity: 1;
      }
      #opensource {
        color: rgba(0, 0, 0, 0.62);
        position: fixed;
        margin-top: 50px;
        margin-left: 50px;
        z-index: 100;
      }
      #source-modal h4 {
        color: black;
      }