.circular {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../images/photo_thumb.png') no-repeat;
	}
	
	.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
	
	{
        box-sizing: border-box;
      }
      .header-panel {
        background-color: #00BCD4;
        height: 270px;
        position: relative;
        z-index: 3;
      }
      .header-panel div {
        position: relative;
        height: 100%;
      }
      .header-panel h1 {
        color: #000;
        font-size: 26px;
        font-weight: 500;
        position: absolute;
        bottom: 100px;
        padding-left: 35px;
      }
      
      .header-panel h2 {
        color: #000;
        font-size: 16px;
        font-weight: 350;
        position: absolute;
        bottom: 70px;
        padding-left: 35px;
      }
      
      
      .header-icons {
        position: absolute;
        bottom: 5px;
        padding-left: 32px;
      }
      
      .js-title {
        position: absolute;
        font-size: 30px;
        font-weight: 600;
        z-index: 5;
        top: 35px;
        left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		text-align: center
      }
      
      .js-subtitle {
        position: absolute;
        font-size: 24px;
        font-weight: 480;
        z-index: 5;
        top: 60px;
        left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		text-align: center
      }
      
      .photo-js {
        position: absolute;
        top: 35px;
        left: 35px;
        z-index: 5;
      }
      
      .menu {
        overflow: auto;
        padding: 0;
      }
      .menu, .menu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .menu ul {
        padding: 0;
        margin: 7px 0;
      }
      .menu ul li {
        list-style: none;
        padding: 20px 0 20px 50px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
      }
      .menu ul li.active {
        background-color: #dedede;
        position: relative;
      }
      .menu ul li a {
        color: rgb(51, 51, 51);
        text-decoration: none;
      }
      .pages {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        padding: 0;
        overflow: auto;
      }
      .pages > div {
        padding: 0 5px;
        padding-top: 230px;
      }
      .pages .header {
      	color : #006064;
        font-size: 24px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 60px;
        letter-spacing: 1.20000004768372px;
      }
      .page {
        transform: translateY(1080px);
        transition: transform 0 linear;
        display: none;
        opacity: 0;
        font-size: 16px;
      }
      .page.active {
        transform: translateY(0px);
        transition: all 0.3s ease-out;
        display: block;
        opacity: 1;
      }
      #opensource {
        color: rgba(0, 0, 0, 0.62);
        position: fixed;
        margin-top: 50px;
        margin-left: 50px;
        z-index: 100;
      }
      #source-modal h4 {
        color: black;
      }